* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "PT Serif", serif; */
  font-family: "Poppins", sans-serif;
  color: #333;
  font-size: 15px;
  line-height: 1.4;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}
/* ----------------- */
.section_clients {
  background-color: #e6f8f9;
  padding: 10em 0;
}

.section_title_container {
  text-align: center;
  position: relative;
}

.title-small {
  font-weight: initial;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-size: 40px;
  font-style: italic;
  color: #f5325c;
}

.title-large {
  font-family: Poppins, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 70px;
}

.line {
  background-color: #f5325c;
  height: 5px;
  width: 70px;
  display: inline-block;
}

.clients_title {
  color: #f5325c;
  font-family: "PT Serif", sans-serif;
  /* font-size: 150px; */
  font-size: clamp(0.8125rem, -1.7245rem + 12.6852vw, 9.375rem);
  font-weight: 400;

  font-style: italic;
  opacity: 0.1;
  position: absolute;
  top: -50px;
  left: 48%;
  transform: translate(-50%);
}

/* portfolio-container */

.portfolio-container {
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  /* gap: 5px; */
}

.portfolio-card {
  flex: 1 1 300px;
  position: relative;
  background-color: #f5325c;
  aspect-ratio: 1/1;
  overflow: hidden;
  /* max-width: 320px; */
  cursor: pointer;
}

.portfolio-image img {
  aspect-ratio: 1/1;
  width: 100%;
  /* height: 100%; */
  object-position: center;
  object-fit: cover;
  /* transform: scale(1.1); */
  transition: all 400ms ease-in-out;
}

.portfolio-meta {
  text-align: center;
  background-color: #fff;
  padding: 0.5em;
  position: absolute;
  bottom: 30px;
  width: 80%;
  left: 50%;
  transform: translate(-50%);

  opacity: 0;
  transition: all 500ms ease-in-out;
}

.portfolio-card:hover img {
  transform: scale(1.1);
  transition: all 400ms ease-in-out;
}

.portfolio-card:hover .portfolio-meta {
  opacity: 1;
  transition: all 500ms ease-in-out;
}
